<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/log/${shortdate}.log" />
    <!--      fileName="C:/Users/tklustig/Documents/Visual Studio 2017/Projects/C#/C#_GUI/Vokabelprogramm.git/log/${shortdate}.log" /> -->
  </targets>

  <rules>
    <!--
    Trace
    Debug
    Info
    Warn
    Error
    Fatal
    -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
